<style>
    .page {
        font-family: monospace;
        font-size: 1.5em;
    }
</style>
<head>
    <script src="https://kit.fontawesome.com/0a59c6fc17.js" crossorigin="anonymous"></script>
</head>

<body class="page">
    <h3>TL;DR</h3>
    <p>I'm a full stack software developer, mainly skilled in keeping the backend gears turning. I love working with front end frameworks and making things look pretty too. I like to keep it as simple as possible.</p>

    <h4>Experience</h4>
    <p>Carrier Integrations - <span>Integrated carriers into the system. These integrations let users book consignments with carriers and was one of the core functionalities of the day to day operations of the company.</span></p>
    <p>Azure</p>
    <p>Using queues to handle load</p>
    


</body>